.header {
  padding: 49px 0 62px 0;
  position: relative;
}

.dlk-logo {
  fill: #1E0606;
  width: 100px;
  height: 52px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.dlk-logo:hover {
  fill: #8e8282;
}

.dlk-logo:active {
  fill: #d2cdcd;
}

.header__logo {
  margin-right: 60px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__nav {
  margin-right: auto;
}

.burger-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.burger-btns__open {
  display: none;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 0.9rem;
  line-height: 1.1;
  text-transform: uppercase;
  color: #1E0606;
  background-color: transparent;
  -webkit-transform: translateX(20%);
  -ms-transform: translateX(20%);
  transform: translateX(20%);
}

.burger-btns__close {
  display: none;
  fill: #1E0606;
  background-color: transparent;
  width: 16px;
  height: 16px;
}

.burger-btns__close svg {
  width: 16px;
  height: 16px;
}

.burger-btns__open.active {
  display: none;
}

.burger-btns__close.active {
  display: block;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 10px 19px;
}

.nav__link {
  font-size: 0.9rem;
  line-height: 1.2;
  text-transform: uppercase;
  color: #1E0606;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.nav__link:hover {
  color: #8e8282;
}

.nav__link:active {
  color: #d2cdcd;
}

.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
}

.header__search.active {
  border: 1px solid #000000;
  border-radius: 15px;
  z-index: 2;
}

.search__inp {
  line-height: 33px;
  font-size: 0.9rem;
  padding: 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  width: 0;
  outline: none;
}

.search__inp.active {
  padding: 0 2px 0 10px;
  width: 170px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.search__btn {
  background-color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
  margin-left: 10px;
}

.search-icon {
  width: 18px;
  height: 18px;
  fill: #1E0606;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.search-icon:hover {
  fill: #8e8282;
}

.search-icon:active {
  fill: #d2cdcd;
}

.header__contact {
  margin-left: 18px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9rem;
  line-height: 1.2;
  color: #1E0606;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.header__contact:hover {
  color: #8e8282;
}

.header__contact:active {
  color: #d2cdcd;
}

.burger {
  display: none;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: rgba(125, 151, 218, 0.8);
}

.burger__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  padding: 40px 0;
  -webkit-transition: 3s;
  -o-transition: 3s;
  transition: 3s;
}

.burger__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 30px;
}

.burger__contact {
  display: block;
  margin: 40px 0 0 0;
}

.burger.active {
  display: block;
}

.footer {
  padding: 100px 0 82px 0;
  background: #434343;
}

.footer__up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-bottom: 1px solid #666666;
  margin-bottom: 23px;
}

.footer__nav__title {
  font-size: 1rem;
  line-height: 1.3;
  color: #aaaaaa;
  padding-bottom: 23px;
  border-bottom: 1px solid #666666;
  margin-bottom: 28px;
}

.footer__nav {
  max-width: 380px;
  width: 100%;
}

.footer__nav__link {
  font-size: 1rem;
  line-height: 1.42;
  color: #FFFFFF;
  margin-bottom: 15px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.footer__nav__link:hover {
  color: #a1a1a1;
}

.footer__nav__link:active {
  color: #696969;
}

.footer__nav__link svg {
  width: 30px;
  height: 30px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.footer__nav__link svg:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  opacity: 0.5;
}

.footer__nav__link svg:active {
  opacity: 0.2;
}

.footer__nav__item:not(:last-child) {
  margin-bottom: 15px;
}

.footer__nav {
  margin-bottom: 28px;
}

.footer__nav__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 24px;
}

.footer__nav__form input {
  background-color: #666666;
  width: 100%;
  height: 40px;
  font-size: 1rem;
  padding: 0 15px;
  color: #ebebeb;
  outline: none;
}

.footer__nav__form input::-webkit-input-placeholder {
  color: #ebebeb;
  font-size: 1rem;
  line-height: 1.3;
}

.footer__nav__form input::-moz-placeholder {
  color: #ebebeb;
  font-size: 1rem;
  line-height: 1.3;
}

.footer__nav__form input:-ms-input-placeholder {
  color: #ebebeb;
  font-size: 1rem;
  line-height: 1.3;
}

.footer__nav__form input::-ms-input-placeholder {
  color: #ebebeb;
  font-size: 1rem;
  line-height: 1.3;
}

.footer__nav__form input::placeholder {
  color: #ebebeb;
  font-size: 1rem;
  line-height: 1.3;
}

.footer__nav__form input:hover,
.footer__nav__form input:focus {
  border: 1px solid #fffdfd;
  border-right: none;
}

.footer__nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__nav__social:not(:last-child) {
  margin-right: 10px;
}

.footer__down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer__down__copyright {
  font-size: 1rem;
  line-height: 1.3;
  color: #FFFFFF;
  margin-right: 109px;
  margin-bottom: 18px;
}

.footer__down a {
  font-size: 1rem;
  line-height: 1.3;
  color: #a2a2a2;
  margin-bottom: 18px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.footer__down a:hover {
  color: #ffffff;
  text-decoration: underline;
}

.raiting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 155px;
  margin-bottom: 18px;
}

.raiting__txt {
  margin-right: 24px;
  color: #FFFFFF;
}

.raiting__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.raiting__list[data-total-value="1"] .raiting__item:nth-child(n+5) .star-icon,
.raiting__list[data-total-value="2"] .raiting__item:nth-child(n+4) .star-icon,
.raiting__list[data-total-value="3"] .raiting__item:nth-child(n+3) .star-icon,
.raiting__list[data-total-value="4"] .raiting__item:nth-child(n+2) .star-icon,
.raiting__list[data-total-value="5"] .raiting__item:nth-child(n+1) .star-icon {
  fill: #c29974;
}

.raiting__item {
  cursor: pointer;
}

.raiting__item:not(:first-child) {
  margin-right: 3px;
}

.raiting__item:hover .star-icon,
.raiting__item:hover ~ .raiting__item .star-icon {
  fill: #836e5b;
}

.star-icon {
  width: 17px;
  height: 16px;
  fill: #ffffff;
}

.popup-contacts {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(125, 151, 218, 0.8);
  z-index: -1;
  opacity: 0;
}

.popup-contacts.active {
  z-index: 1;
  opacity: 1;
}

.popup-contacts__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
}

.popup-btn-close {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: transparent;
  top: 0;
  right: -15px;
}

.popup-btn-close svg {
  width: 15px;
  height: 15px;
  fill: #ffffff;
}

.contact-form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 0.875rem;
  line-height: 1.45;
  color: #1E0606;
}

.contact-form form {
  max-width: 680px;
  width: 100%;
  background: #e5eaf8;
  padding: 42px 40px;
}

.contact-form__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.contact-form__wrapper:nth-child(2) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.contact-form__wrapper__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 48.5%;
}

.contact-form__wrapper input {
  line-height: 48px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: #ffffff;
  padding: 0 20px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 1.1rem;
  color: #1E0606;
  outline: none;
}

.contact-form__wrapper input:disabled {
  opacity: 0.5;
}

.contact-form__wrapper input:hover {
  border: 1px solid #c29974;
}

.contact-form__wrapper input:focus {
  border: 1px solid #c29974;
}

.contact-form__wrapper label {
  margin-bottom: 3px;
}

.contact-form__wrapper textarea {
  min-height: 150px;
  resize: none;
  line-height: 1.3;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 1.1rem;
  color: #1E0606;
  padding: 10px 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: #ffffff;
  outline: none;
}

.contact-form__wrapper textarea:focus {
  border: 1px solid #c29974;
}

.contact-form__consent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 19px;
}

.contact-form__consent__inp {
  margin-right: 22px;
  position: relative;
  opacity: 0;
}

.contact-form__consent__label {
  position: relative;
  line-height: 1.2;
  letter-spacing: 0.3px;
  padding-top: 3px;
  cursor: pointer;
}

.contact-form__consent__label:hover {
  text-decoration: underline;
}

.contact-form__consent__label:after,
.contact-form__consent__label:before {
  position: absolute;
  display: inline-block;
  content: "";
}

.contact-form__consent__label:before {
  width: 19px;
  height: 19px;
  border: 2px solid #c29974;
  border-radius: 3px;
  left: -34px;
  top: 0px;
}

.contact-form__consent__label:after {
  width: 19px;
  height: 19px;
  left: -35px;
  top: 0px;
  background: url(../img/icons/checked.svg) no-repeat top right;
  opacity: 0;
}

.contact-form__consent__inp:checked + .contact-form__consent__label:after {
  opacity: 1;
}

.contact-form__consent__inp:disabled + .contact-form__consent__label:before,
.contact-form__consent__inp:disabled + .contact-form__consent__label {
  opacity: 0.5;
}

.contact-form__consent__inp:disabled + .contact-form__consent__label:hover {
  text-decoration: none;
}

.popup-btn-close:hover {
  fill: rgba(240, 240, 240, 0.7);
}

.popup-btn-close:active {
  fill: rgba(240, 240, 240, 0.4);
}

.categories__item {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 280px;
  width: 100%;
  height: 270px;
  background: #AED3E4;
  overflow: hidden;
}

.categories__item img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.categories__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.3;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
  -webkit-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.categories__link:hover {
  text-decoration: underline;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.catalog__item {
  max-width: 380px;
  width: 100%;
  position: relative;
  padding-bottom: 25px;
}

.catalog__link {
  font-family: "Open Sans", "Arial", sans-serif;
  color: #1E0606;
  display: block;
  width: 100%;
  height: 100%;
}

.catalog__pic {
  width: 100%;
  height: 385px;
  background-color: lightblue;
  margin-bottom: 29px;
}

.catalog__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  margin-bottom: 28px;
}

.catalog__txt {
  font-size: 0.9rem;
  line-height: 1.4rem;
  text-align: center;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.catalog__cost {
  display: block;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.4rem;
  text-align: center;
  text-transform: uppercase;
}

.catalog__item:after {
  position: absolute;
  content: "learn more";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 207px;
  width: 100%;
  height: 207px;
  background-color: #e5eaf8;
  top: 15%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  color: #1E0606;
  text-transform: uppercase;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.8rem;
  text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
  cursor: pointer;
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.catalog__item:hover:after {
  opacity: 0.9;
}

.catalog__item:active:after {
  opacity: 0.67;
}

.blog__content__item {
  max-width: 380px;
  width: 100%;
}

.blog__content__pic {
  height: 220px;
  margin-bottom: 21px;
  background-color: lightblue;
}

.blog__content__img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
  object-fit: fill;
}

.blog__content__date {
  font-family: "Open Sans", "Arial", sans-serif;
  display: block;
  font-size: 1rem;
  line-height: 1.4;
  color: #818181;
  margin-bottom: 7px;
}

.blog__content__link {
  color: #1E0606;
}

.blog__content__link h2 {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.3;
  margin-bottom: 13px;
}

.blog__content__link:hover {
  text-decoration: underline;
}

.blog__content__txt {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 1.12rem;
  line-height: 1.4;
  color: #1E0606;
  margin-bottom: 20px;
}

html,
body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 16px;
  color: #1E0606;
  background: #ffffff;
}

.container {
  max-width: 1300px;
  width: 100%;
  padding: 0 60px 0 60px;
  margin: 0 auto;
}

.btn {
  font-family: "Open Sans", "Arial", sans-serif;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 40px;
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.3;
  background-color: #000000;
  padding: 0 22px;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: pointer;
}

.btn:hover {
  background: #C29974;
}

.btn:active {
  background: #CFAF91;
}

.btn:disabled {
  background: #C7C1C1;
}

.btn:focus {
  outline-color: #C29974;
}

.title-one {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.15;
  text-transform: uppercase;
  color: #1E0606;
}

.title-two {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 700;
  font-size: 2.375rem;
  line-height: 1.2;
  text-transform: uppercase;
  color: #1E0606;
}

.hidden {
  font-size: 0;
  width: 0;
  height: 0;
}

button:focus {
  outline-color: #C29974;
}

.breadcrumbs {
  font-family: "Crimson Text", "Arial", sans-serif;
  font-style: italic;
  font-size: 1.25rem;
  line-height: 1.4;
  color: #1E0606;
  margin: 14px 0 47px 0;
}

.breadcrumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.breadcrumbs__item {
  margin-right: 51px;
  position: relative;
}

.breadcrumbs__item a {
  color: #1E0606;
}

.breadcrumbs__item:not(:last-child):after {
  content: "";
  width: 8px;
  height: 12px;
  background: url(../img/icons/arrow-breadcrumbs.svg) no-repeat center center/cover;
  position: absolute;
  top: 7px;
  right: -28px;
}

.breadcrumbs__item span {
  opacity: 0.5;
}

@media (max-width: 1320px) {
  .catalog__item {
    max-width: calc(202px + 178 * (100vw - 785px) / 535);
  }

  .catalog__pic {
    height: calc(211px + 174 * (100vw - 785px) / 535);
  }
}

@media (max-width: 1260px) {
  .footer__nav:nth-child(1) {
    width: 34.3%;
  }

  .footer__nav:nth-child(2) {
    width: 34%;
  }

  .footer__nav:nth-child(3) {
    width: 31.1%;
  }

  .footer {
    padding-top: calc(80px + 20 * (100vw - 785px) / 475);
    padding-bottom: calc(65px + 35 * (100vw - 785px) / 475);
  }

  .footer__down__copyright {
    margin-right: calc(43px + 66 * (100vw - 768px) / 492);
  }
}

@media (max-width: 1200px) {
  .title-two {
    font-size: calc(30px + 8 * (100vw - 785px) / 530);
  }
}

@media (max-width: 1035px) {
  .header__logo {
    margin-right: 30px;
  }

  .header__search.active {
    margin-left: 10px;
  }

  .search__inp.active {
    width: 120px;
  }

  .header__contact {
    margin-left: 10px;
  }

  .nav__list {
    gap: 6px 10px;
  }
}

@media (max-width: 1000px) {
  .catalog__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .catalog__item:after {
    width: 150px;
    height: 150px;
    text-align: center;
  }
}

@media (max-width: 960px) {
  .search__inp.active {
    width: 80px;
  }
}

@media (max-width: 920px) {
  .blog__content__pic {
    height: 182px;
  }

  .blog__content__item {
    max-width: 314px;
    width: 100%;
  }
}

@media (max-width: 900px) {
  .contact-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .popup-btn-close {
    top: -12px;
    right: 0;
  }
}

@media (max-width: 870px) {
  .nav__list {
    display: none;
  }

  .burger__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header__contact {
    display: none;
  }

  .burger__contact {
    display: block;
    margin-left: 0;
  }

  .burger-btns__open {
    display: block;
  }
}

@media (max-width: 785px) {
  .header {
    padding: 35px 0 33px 0;
  }

  .dlk-logo {
    width: calc(42px + 20 * (100vw - 392px) / 393);
    height: calc(22px + 10 * (100vw - 392px) / 393);
  }

  .search__inp.active {
    width: 120px;
  }

  .header__container {
    padding-left: calc(30px + 30 * (100vw - 392px) / 393);
    padding-right: calc(35px + 25 * (100vw - 392px) / 393);
  }

  .search__btn {
    width: 18px;
    height: 18px;
  }

  .search-icon {
    width: calc(13px + 5 * (100vw - 392px) / 393);
    height: calc(13px + 5 * (100vw - 392px) / 393);
  }

  .burger__menu {
    padding: calc(25px + 15 * (100vw - 392px) / 393);
  }

  .burger__list {
    gap: calc(20px + 10 * (100vw - 392px) / 393);
  }

  .burger__contact {
    margin-top: calc(35px + 5 * (100vw - 392px) / 393);
  }

  .footer {
    padding-top: 80px;
    padding-bottom: 65px;
  }

  .footer__up {
    padding-bottom: 10px;
  }

  .contact-form {
    max-width: 648px;
  }

  .contact-form form {
    padding: 42px 56px;
  }

  .contact-form__btn {
    margin-top: 5px;
  }

  .popup-contacts__body {
    padding: 0 60px;
  }

  .contact-form__consent__label {
    letter-spacing: 0;
  }

  .contact-form__consent {
    margin-bottom: 13px;
  }

  .catalog__item {
    max-width: 202px;
    padding-bottom: 7px;
  }

  .catalog__pic {
    height: 211px;
  }

  .catalog__pic {
    margin-bottom: 14px;
  }

  .catalog__txt {
    font-size: 12px;
    margin-bottom: 1px;
  }

  .catalog__cost {
    font-size: 14px;
  }

  .catalog__item:after {
    width: 120px;
    height: 120px;
  }

  .blog__content__pic {
    margin-bottom: 14px;
  }

  .blog__content__date {
    margin-bottom: 3px;
  }

  .blog__content__link h2 {
    margin-bottom: 9px;
  }

  .blog__content__txt {
    margin-bottom: 15px;
  }

  .breadcrumbs {
    margin: 10px 0 27px 0;
    font-size: calc(16px + 4 * (100vw - 392px) / 392);
  }

  .breadcrumbs__item {
    margin-right: calc(36px + 15 * (100vw - 392px) / 392);
  }

  .breadcrumbs__item:not(:last-child):after {
    width: calc(6px + 2 * (100vw - 392px) / 392);
    height: calc(9px + 3 * (100vw - 392px) / 392);
    right: calc(-20px + -8 * (100vw - 392px) / 392);
    top: 5px;
  }

  .container {
    padding-left: calc(20px + 40 * (100vw - 392px) / 393);
    padding-right: calc(20px + 40 * (100vw - 392px) / 393);
  }

  .title-one {
    margin-top: 36px;
    font-size: 2.25rem;
    line-height: 1.2;
  }

  .title-two {
    font-size: 30px;
  }
}

@media (max-width: 784px) {
  .catalog__item {
    max-width: calc(160px + 42 * (100vw - 650px) / 134);
  }

  .catalog__pic {
    height: calc(167px + 44 * (100vw - 650px) / 134);
  }

  .catalog__cost {
    font-size: calc(12px + 2 * (100vw - 392px) / 392);
  }

  .blog__content__item {
    max-width: 500px;
  }

  .blog__content__pic {
    height: 250px;
  }

  .breadcrumbs {
    margin-bottom: calc(18px + 9 * (100vw - 392px) / 392);
  }

  .title-one {
    margin-top: calc(21px + 15 * (100vw - 392px) / 392);
    font-size: calc(24px + 12 * (100vw - 392px) / 392);
  }

  .title-two {
    font-size: calc(24px + 6 * (100vw - 392px) / 392);
  }

  .btn {
    font-size: calc(14px + 2 * (100vw - 392px) / 392);
    min-height: 38px;
  }
}

@media (max-width: 700px) {
  .footer {
    padding-top: calc(70px + 10 * (100vw - 392px) / 308);
    padding-bottom: calc(60px + 5 * (100vw - 392px) / 308);
  }

  .footer__up {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer__nav {
    max-width: 100%;
    height: 130px;
    margin-bottom: 70px;
  }

  .footer__nav:nth-child(1) {
    width: 100%;
  }

  .footer__nav:nth-child(2) {
    width: 100%;
  }

  .footer__nav:nth-child(3) {
    width: 100%;
  }

  .footer__nav__list {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 100%;
  }

  .footer__nav__item {
    max-width: 170px;
    width: 100%;
  }

  .footer__nav__item:nth-child(1) {
    margin-right: 150px;
  }
}

@media (max-width: 650px) {
  .catalog__item {
    max-width: 160px;
  }

  .catalog__pic {
    height: 167px;
  }

  .catalog__item:after {
    font-size: 18px;
    line-height: 1.2;
  }
}

@media (max-width: 600px) {
  .footer__nav__item:nth-child(1) {
    margin-right: calc(42px + 102 * (100vw - 392px) / 168);
  }

  .footer__nav__title {
    margin-bottom: calc(20px + 8 * (100vw - 392px) / 208);
  }

  .footer__nav__link {
    font-size: calc(14px + 2 * (100vw - 392px) / 208);
  }

  .footer__nav {
    margin-bottom: 83px;
  }

  .footer__nav:nth-child(1) {
    margin-bottom: 63px;
  }

  .footer__nav:nth-child(3) {
    margin-bottom: 78px;
  }

  .footer__nav__form {
    margin: 26px 0 18px 0;
  }

  .footer__nav__link svg {
    width: 28px;
    height: 28px;
  }

  .footer__nav__social:not(:last-child) {
    margin-right: 15px;
  }

  .raiting {
    margin-right: 0;
  }

  .raiting__txt {
    margin-right: 22px;
  }

  .footer__up {
    margin-bottom: 25px;
  }

  .popup-contacts__body {
    padding-left: calc(20px + 40 * (100vw - 392px) / 208);
    padding-right: calc(20px + 40 * (100vw - 392px) / 208);
  }

  .contact-form {
    margin-top: calc(24px + 17 * (100vw - 392px) / 208);
  }

  .contact-form form {
    padding: 25px;
  }

  .contact-form__wrapper {
    margin-bottom: 14px;
  }

  .contact-form__wrapper input {
    font-size: calc(14px + 2 * (100vw - 392px) / 208);
    line-height: calc(38px + 10 * (100vw - 392px) / 208);
    padding: 0 15px;
  }

  .contact-form__wrapper:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 14px;
  }

  .contact-form__wrapper__inner {
    width: 100%;
  }

  .contact-form__consent__inp {
    margin-right: 17px;
  }

  .contact {
    margin-bottom: 50px;
  }

  .contact-form__consent__label:before {
    left: -30px;
    top: 6px;
  }

  .contact-form__consent__label:after {
    left: -31px;
    top: 6px;
  }
}

@media (max-width: 500px) {
  .blog__content__item {
    max-width: calc(335px + 165 * (100vw - 392px) / 108);
  }

  .blog__content__pic {
    height: calc(194px + 56 * (100vw - 392px) / 108);
  }

  .blog__content__date {
    font-size: calc(14px + 2 * (100vw - 392px) / 392);
  }

  .blog__content__link h2 {
    font-size: calc(18px + 6 * (100vw - 392px) / 392);
    line-height: calc(21px + 10 * (100vw - 392px) / 392);
  }

  .blog__content__txt {
    font-size: calc(16px + 2 * (100vw - 392px) / 392);
  }
}

@media (max-width: 392px) {
  .header {
    padding: 20px 12px 20px 0;
  }

  .header__search {
    padding-right: -20px;
  }

  .dlk-logo {
    margin-left: 10px;
  }

  .contact-form__btn {
    margin-top: 0;
  }

  .catalog__pic {
    margin-bottom: 14px;
  }

  .catalog__txt {
    margin-bottom: 4px;
    line-height: 1.2;
  }

  .catalog__item:after {
    width: 100px;
    height: 100px;
  }

  .blog__content__pic {
    margin-bottom: 8px;
  }

  .blog__content__date {
    margin-bottom: 4px;
  }

  .blog__content__link h2 {
    margin-bottom: 7px;
  }

  .blog__content__txt {
    margin-bottom: 10px;
  }
}