.grid__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 215px);
  padding: 0;
}

.grid__item {
  font-family: "Lato", "Arial", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background-color: #F7F8FA;
}

.grid__item a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.grid__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: relative;
  z-index: 3;
}

.item-1 {
  grid-column: 1/3;
  grid-row: 1/3;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #FFFFFF;
}

.item-1__desc {
  max-width: 220px;
  margin-left: 80px;
}

.item-1__txt1 {
  display: block;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.1;
  color: #BCBCBE;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.item-1__txt2 {
  font-weight: 500;
  font-size: 1.375rem;
  line-height: 1.2;
  letter-spacing: 0.3px;
  color: #2C3036;
  margin-bottom: 20px;
}

.item-1__more {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.1;
  color: #BCBCBE;
}

.item-1__pic {
  width: 249px;
  height: 345px;
  position: absolute;
  right: 80px;
  bottom: 0;
}

.item-2 {
  grid-column: 3/5;
  grid-row: 1/3;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.item-2__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 450px;
}

.item-2__more {
  display: block;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.1;
  color: #BCBCBE;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.item-2__txt {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.2;
  color: #2C3036;
  margin-bottom: 10px;
  text-align: center;
}

.item-2__download {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.1;
  color: #2198F4;
}

.item-3 {
  background-color: #EF5539;
  grid-column: 1/2;
  grid-row: 3/5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.item-3__pic {
  width: 314px;
  height: 164px;
  margin-bottom: 10px;
}

.item-3__txt {
  max-width: 170px;
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 1.2;
  color: #FFFFFF;
  margin-bottom: 20px;
  text-align: center;
}

.item-3__more {
  font-weight: bold;
  font-size: 0.75rem;
  line-height: 1.1;
  color: #FFC80A;
  text-transform: uppercase;
}

.item-4 {
  background-color: #FFFFFF;
  grid-column: 2/4;
  grid-row: 3/5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 106px;
  position: relative;
}

.item-4__left {
  width: 168px;
  margin-right: 110px;
}

.item-4__right {
  max-width: 230px;
}

.item-4__txt1 {
  display: inline-block;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.16;
  color: #BCBCBE;
  text-transform: uppercase;
  margin-bottom: 11px;
}

.item-4__txt2 {
  font-weight: 500;
  font-size: 1.375rem;
  line-height: 1.2;
  color: #2C3036;
}

.item-4__txt3 {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.2;
  color: #BCBCBE;
  margin-bottom: 20px;
  letter-spacing: 0.2px;
}

.item-4__download {
  font-weight: bold;
  font-size: 0.75rem;
  line-height: 1.1;
  color: #2198F4;
  text-transform: uppercase;
}

.item-4__pic {
  width: 352px;
  height: 164px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.item-5 {
  background-color: #8F75BC;
  grid-column: 4/5;
  grid-row: 3/7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.item-5__pic {
  width: 180px;
  height: 186px;
  position: relative;
}

.item-5__pic:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -53%);
  -ms-transform: translate(-50%, -53%);
  transform: translate(-50%, -53%);
  display: block;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: #8066B0;
}

.item-5__txt1 {
  font-weight: 700;
  font-size: 0.625rem;
  line-height: 1.2;
  color: #FFFFFF;
  padding: 5px 15px;
  border-radius: 11px;
  background: #8972B6;
  margin: 31px 0 15px 0;
  z-index: 3;
}

.item-5__txt2 {
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.2;
  color: #FFFFFF;
  z-index: 3;
  margin-bottom: 52px;
}

.item-5__txt3 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.2;
  color: #FFFFFF;
  margin-bottom: 10px;
  z-index: 3;
}

.item-5__txt4 {
  width: 230px;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.2;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 30px;
  z-index: 3;
}

.item-5__more {
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.2;
  color: #2C3036;
  padding: 19px 41px;
  border-radius: 27px;
  background: #FFC80C;
}

.item-6 {
  background-color: #93B7B7;
  grid-column: 1/3;
  grid-row: 5/7;
  display: block;
}

.item-6__txt1 {
  display: inline-block;
  font-weight: 700;
  font-size: 0.5rem;
  line-height: 1.2;
  color: #FFFFFF;
  padding: 3px 5px;
  border-radius: 3px;
  background: #FA684F;
  text-transform: uppercase;
  margin: 15px 0 40px 15px;
}

.item-6__txt2 {
  max-width: 200px;
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 1.2;
  color: #FFFFFF;
  text-align: center;
  margin: 0 auto;
}

.item-6__pic {
  width: 100%;
  height: 275px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.item-7 {
  background-color: #F7F8FA;
  grid-column: 3/4;
  grid-row: 5/7;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.item-7__txt {
  display: inline-block;
  font-weight: 500;
  font-size: 1.375rem;
  line-height: 1.2;
  color: #2C3036;
  margin: 0 0 20px 0;
  padding: 0 15px;
  text-align: center;
}

.item-7__more {
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.2;
  color: #2198F4;
  text-transform: uppercase;
}

.item-7__pic {
  width: 303px;
  height: 167px;
  margin-bottom: 11px;
}

.item-8 {
  background-color: #F7F8FA;
  grid-column: 1/2;
  grid-row: 7/8;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.item-8__icon {
  fill: #F7F8FA;
  stroke: #2C3036;
  width: 59px;
  height: 59px;
  margin-bottom: 16px;
}

.item-8__more {
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 1.2;
  color: #2C3036;
  padding: 0 15px;
}

.item-9 {
  background-color: #2C2C2C;
  grid-column: 2/5;
  grid-row: 7/8;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 107px;
}

.item-9__pic {
  width: 271px;
  height: 100%;
  margin-right: 80px;
}

.item-9__txt {
  max-width: 189px;
  font-weight: 500;
  font-size: 1.375rem;
  line-height: 1.2;
  color: #FFFFFF;
}

@media (max-width: 1232px) {
  .item-5__pic:before {
    width: 260px;
    height: 260px;
  }

  .item-1__pic {
    right: 0;
  }
}

@media (max-width: 1180px) {
  .item-5__pic {
    width: 120px;
    height: 126px;
  }

  .item-5__pic:before {
    width: 200px;
    height: 200px;
    top: 45%;
  }
}

@media (max-width: 1090px) {
  .item-1__pic {
    width: 150px;
    height: 200px;
  }

  .item-4__left {
    margin-right: 20px;
  }
}

@media (max-width: 980px) {
  .grid__content {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(497, 5px);
  }

  .item-6__pic {
    height: 151px;
  }

  .item-4__left {
    margin-right: 110px;
  }

  .item-1__desc {
    margin-left: 114px;
  }

  .item-1__pic {
    width: 249px;
    height: 345px;
    right: 114px;
  }

  .item-1 {
    grid-column: 1/3;
    grid-row: 57/143;
  }

  .item-2 {
    grid-column: 1/3;
    grid-row: 1/57;
  }

  .item-3 {
    grid-column: 1/2;
    grid-row: 143/229;
  }

  .item-4 {
    grid-column: 1/3;
    grid-row: 229/315;
  }

  .item-5 {
    grid-column: 2/3;
    grid-row: 315/455;
  }

  .item-6 {
    grid-column: 1/2;
    grid-row: 315/385;
  }

  .item-7 {
    grid-column: 2/3;
    grid-row: 143/229;
  }

  .item-8 {
    grid-column: 1/2;
    grid-row: 385/455;
  }

  .item-9 {
    grid-column: 1/3;
    grid-row: 455/498;
  }
}

@media (max-width: 785px) {
  .item-2__txt {
    font-size: 2.1875rem;
    margin-bottom: 40px;
  }

  .item-2__desc {
    max-width: 500px;
  }

  .item-4__pic {
    width: 420px;
  }

  .item-6__txt2 {
    margin-top: 22px;
  }

  .item-5__pic {
    width: 180px;
    height: 186px;
  }

  .item-5__pic:before {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 700px) {
  .item-1__pic {
    right: 0;
  }
}

@media (max-width: 640px) {
  .grid__content {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(673, 5px);
  }

  .item-6__pic {
    height: 151px;
  }

  .item-6__txt2 {
    margin-top: 0;
  }

  .item-4__left {
    margin-right: 110px;
  }

  .item-1__desc {
    margin-left: 114px;
  }

  .item-1__pic {
    width: 249px;
    height: 345px;
    right: 114px;
  }

  .item-1 {
    display: block;
  }

  .item-1__desc {
    max-width: 335px;
    margin: 30px 0 0 20px;
  }

  .item-1__pic {
    right: 14%;
    width: 272px;
  }

  .item-2__txt {
    text-align: start;
  }

  .item-9__pic {
    margin-right: 5px;
  }

  .item-1 {
    grid-column: 1/2;
    grid-row: 57/163;
  }

  .item-2 {
    grid-column: 1/2;
    grid-row: 1/57;
    padding: 0 15px;
  }

  .item-3 {
    grid-column: 1/2;
    grid-row: 163/227;
  }

  .item-4 {
    grid-column: 1/2;
    grid-row: 289/391;
  }

  .item-5 {
    grid-column: 1/2;
    grid-row: 492/610;
  }

  .item-6 {
    grid-column: 1/3;
    grid-row: 391/451;
  }

  .item-7 {
    grid-column: 1/2;
    grid-row: 227/289;
  }

  .item-8 {
    grid-column: 1/2;
    grid-row: 451/492;
  }

  .item-9 {
    grid-column: 1/2;
    grid-row: 610/674;
  }
}

@media (max-width: 560px) {
  .item-2__desc {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-left: 5px;
  }

  .item-2__txt {
    letter-spacing: -0.1px;
  }

  .item-4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    padding: 27px 20px 30px 20px;
  }

  .item-4__right {
    max-width: 335px;
  }

  .item-4__pic {
    max-width: 375px;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .item-7 {
    padding-top: 9px;
  }

  .item-6__txt1 {
    margin: 16px 0 38px 20px;
  }

  .item-6__txt2 {
    margin-top: -2px;
  }

  .item-5__txt1 {
    margin-top: 28px;
  }

  .item-9 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 0;
  }

  .item-9__txt {
    text-align: center;
  }

  .item-9__pic {
    margin: 0;
    width: 375px;
    height: 237px;
  }
}