@-webkit-keyframes boxMoveOne {
  0% {
    opacity: 0;
    -webkit-transform: translateX(200px);
    transform: translateX(200px);
  }

  20% {
    opacity: 0.2;
  }

  40% {
    opacity: 0.5;
  }

  50% {
    opacity: 0.8;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }

  65% {
    opacity: 1;
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
  }

  80% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }

  90% {
    -webkit-transform: translateX(15px);
    transform: translateX(15px);
  }
}

@keyframes boxMoveOne {
  0% {
    opacity: 0;
    -webkit-transform: translateX(200px);
    transform: translateX(200px);
  }

  20% {
    opacity: 0.2;
  }

  40% {
    opacity: 0.5;
  }

  50% {
    opacity: 0.8;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }

  65% {
    opacity: 1;
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
  }

  80% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }

  90% {
    -webkit-transform: translateX(15px);
    transform: translateX(15px);
  }
}

@-webkit-keyframes boxMoveTwo {
  0% {
    opacity: 0;
    -webkit-transform: translateX(200px);
    transform: translateX(200px);
  }

  20% {
    opacity: 0.2;
  }

  40% {
    opacity: 0.5;
  }

  50% {
    opacity: 0.8;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  65% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }

  80% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  90% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

@keyframes boxMoveTwo {
  0% {
    opacity: 0;
    -webkit-transform: translateX(200px);
    transform: translateX(200px);
  }

  20% {
    opacity: 0.2;
  }

  40% {
    opacity: 0.5;
  }

  50% {
    opacity: 0.8;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  65% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }

  80% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  90% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

@-webkit-keyframes moveLine {
  33% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }

  66% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
}

@keyframes moveLine {
  33% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }

  66% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
}

.svg {
  margin-bottom: 43px;
}

.svg__title {
  font-size: 2.25rem;
  line-height: 1;
}

.svg__wrapper {
  margin-top: -20px;
}

.icon {
  margin: 0 0 0 -20px;
}

.icon__box-1 {
  -webkit-animation: boxMoveOne 5s ease-in-out;
  animation: boxMoveOne 5s ease-in-out;
}

.icon__box-2 {
  -webkit-animation: boxMoveTwo 5s ease-in-out;
  animation: boxMoveTwo 5s ease-in-out;
}

.icon__sun {
  -webkit-box-shadow: 0 0 0 rgba(204, 169, 44, 0.9);
  box-shadow: 0 0 0 rgba(204, 169, 44, 0.9);
  -webkit-animation: lightSun 3s infinite;
  animation: lightSun 3s infinite;
}

.icon__line-1 {
  -webkit-animation: moveLine 1s infinite linear;
  animation: moveLine 1s infinite linear;
}

.icon__line-2 {
  animation: moveLine 1s infinite linear reverse;
}

@media (max-width: 784px) {
  .svg__title {
    margin-top: 21px;
    font-size: calc(24px + 12 * (100vw - 392px) / 392);
  }

  .icon {
    width: calc(350px + 100 * (100vw - 392px) / 392);
    height: calc(285px + 100 * (100vw - 392px) / 392);
  }
}